.info-container {
    height: 800px;
    width: 1000px;
    top: 145px;
    left: 45%;
    border: inset rgb(0, 0, 0) 1px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.info-box {
    top: 50px;
    position: relative;
    height: 700px;
    width: 800px;
    border: inset rgb(0, 0, 0) 1px;
}

.name-container {
    top: 0px;
    position: relative;
    border: inset rgb(0, 0, 0) 1px;
    height: 100px;
    display: flex;
    align-items: center;
}

.phone {
    height: 100px;
    border: inset rgb(0, 0, 0) 1px;

}

.placeholder {
    width: 470px;
    height: 50px;
    margin: 20px 10px 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.number {
    width: 60px;
    height: 30px;
    margin: 20px 10px 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.credit-card {
    
}

.credit-no {
    width: 50px;
    height: 30px;
    margin: 20px 10px 5px 10px;
    border-radius: 8px;
    text-align: center;
    font-family: monospace;
}

.exp-no {
    width: 25px;
    height: 30px;
    margin: 20px 0px 0px 5px;
    border-radius: 8px;
    text-align: center;
}

.code-no {
    width: 50px;
    height: 30px;
    margin: 20px 0px 0px 5px;
    border-radius: 8px;
    text-align: center;
}

.acc-btn {
    width: 70px;
    height: 40px;
    border-radius: 17px;
    background-color: black;
    color: white;
}


#confirm-back {
    top: 23%;
    left: 4%;
    position: relative;
    cursor: pointer;
}

#confirm-next {
    top: 202px;
    left: 82%;
    position: relative;
    cursor: pointer;
}

.toa {
    height: 100px;
    border: inset rgb(0, 0, 0) 1px;
    z-index: 0;
}

.whats-this-link {
    cursor: pointer;
}

.whats-this-container {
    height: 100px;
    width: 400px;
    border: inset rgb(0, 0, 0) 1px;
    font-size: 10px;
    z-index: 3;
}