.info-container {
    height: 1400px;
    width: 1100px;
    top: 100px;
    left: 50%;
    border: inset rgb(0, 0, 0) 1px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.info-box {
    top: 160px;
    position: relative;
    height: 700px;
    width: 1100px;
    /* border: inset rgba(195, 195, 195, 0.779);
    box-shadow: 10px 10px rgba(195, 195, 195, 0.779); */
    border-radius: 20px;
}

.name-container {
    height: 100px;
}

.existing-container {
    height: 20px;
    margin: 80px -280px -30px 0;
    font-size: 10px;
}

.placeholder {
    width: 500px;
    height: 50px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.phone {
    margin: 20px 160px 0 0;
}

.credit-card {
    margin: 20px 0 0 0;
}

.number {
    width: 120px;
    margin: 20px 10px 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.existing-container, .name-container, .phone, .credit-card, .exp-date {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-date {
    margin: 15px 330px 5px 10px;
}

.credit-no, .number {
    width: 120px;
    height: 50px;
    margin: 3px 10px 5px 10px;
    border-radius: 8px;
    text-align: center;
    font-family: monospace;
}

.code-no {
    width: 90px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0 5px 10px;
}

.exp-no {
    width: 40px;
    height: 50px;
    margin: 10px 10px 5px 10px;
    border-radius: 8px;
    text-align: center;
}

.acc-btn {
    width: 70px;
    height: 40px;
    border-radius: 17px;
    background-color: black;
    color: white;
}


#confirm-back {
    left: 19%;
    top: -6%;
    position: relative;
    cursor: pointer;
}

#confirm-next {
    left: 73%;
    position: relative;
    cursor: pointer;
}

.terms-container {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 85%;
    margin: 20px 0 50px 0;
}

.toa {
    height: 80px;
    width: 220px;
}

input[type="checkbox"] {
    margin: 0 5px 5px 0;
    cursor: pointer;
}

.whats-this-link {
    cursor: pointer;
    right: 160px;
    position: relative;
    margin: -10px 0 0 0;
}

.whats-this-container {
    top: 500px;
    left: 270px;
    position: absolute;
    height: 20px;
    width: 300px;
    border: inset rgb(0, 0, 0) 1px;
    font-size: 10px;
    z-index: 3;
    background-color: azure;
}
