.cart-title {
    margin: 0 0 20px 0;
}

.cart-container-thing {
    height: 450px;
    width: 100%;
    border: inset rgb(0, 0, 0) 1px;
    overflow-y: auto;
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: start; */
}

.cart-list-container {
    width: 95%;
    height: 110px;
    border: inset rgb(0, 0, 0) 1px;
    border-radius: 10px;
    display: flex;
    /* overflow: hidden; */
    margin: 10px 10px 0 8px;
    transition: transform 1000ms ease-in-out 100ms;
    /* transform: translateY(-200px); */
    /* animation-name: myanimation; */
}


.cart-list-container:hover {
    cursor: pointer;
}

.cart-image {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 10px;
}

.cart-data {
    
}

.total {
    bottom: -40%;
    position: relative;
}

.checkout-btn {
    width: 200px;
    height:50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.delete-container {
    background-color: rgba(70, 70, 70, 0.884);
}

.delete-box {
    height: 300px;
    width: 500px;
}

.edit-num {
    width: 30px;
    height: 12px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}