.checkout {
    top: 145px;
    left: 45%;
    position: relative;
    border-radius: 20px;
}

.checkout-label {
    width: 1000px;
    height: 100px;
    border: inset rgb(0, 0, 0) 1px;
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkout-container {
    height: 800px;
    width: 1000px;
    top: 20px;
    position: relative;
    border: inset rgb(0, 0, 0) 1px;
}

.checkout-cart {
    height: 600px;
    width: 100%;
    border: inset rgb(0, 0, 0) 1px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-img {
    height: 50px;
    width: 50px;
    margin: 0 20px 0 0;
}

.checkout-total {
    position: relative;
    float: right;
    margin: 10px 50px 30px 10px;
}

.proceed-btn {
    top: 80px;
    position: relative;
    float: right;
    margin: 10px -180px 0 30px;
    width: 200px;
    height:80px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.checkout-empty {
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Checkoutlist.js*/

.checkout-list {
    height: 100px;
    width: 800px;
    border: inset rgb(0, 0, 0) 1px;
    border-radius: 10px;
    display: flex;
    margin: 10px 10px 0 0px;
}

.checkout-main-info {
    margin: 0 10px 0 -20px;
    overflow-y: hidden;
    width: 180px;
    display: flex;
    /* border: inset rgb(0, 0, 0) 1px; */
    flex-direction: column;
    align-items: center;
}

.produce-info {
    width: 500px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.co-produce-section, .co-produce-discount-section, .produce-total {
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.co-produce-amt, .co-produce-discount-amt {
    margin: 0 0 10px 0;
}

.checkout-delete, .checkout-edit {
    background-color: #fff;
    border-color: #fff;
    height: 100px;
    width: 45px;
    cursor: pointer;
}


.co-edit-num {
    height: 25px;
    margin: 0 10px 0 10px;
    width: 35px;
}

.hover-btn {
    width: 100px;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    flex-direction: column;
    align-items: end;
}