.myaccount {
    height: 850px;
    width: 1000px;
    top: 160px;
    left: 55%;
    /* border: inset rgb(0, 0, 0) 1px; */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.myacc-container {
    height: 1000px;
    width: 1000px;
    position: relative;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-info-container {
    height: 180px;
    width: 1100px;
    border-radius: 30px 30px 0 0;
    border-top: inset rgb(0, 0, 0) 1px;
    border-left: inset rgb(0, 0, 0) 1px;
    border-right: inset rgb(0, 0, 0) 1px;
    /* border: inset rgba(195, 195, 195, 0.779) 1px; */
    box-shadow: 5px 0 rgba(195, 195, 195, 0.779);
    margin: 100px 0 0 0;
}

.input-container {
    height: 170px;
    width: 1100px;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
}

.acc-info-label {
    height: 50px;
    width: 1100px;
    margin: 40px 0 20px 40px; 
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.acc-input-label {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 40px 0 10px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.acc-input-container {
    width: 160px;
    margin: 0px 10px 0 0;
    /* border: inset rgb(0, 0, 0) 1px; */
}    

.input-acc-label, .input-basic-field-container {
    margin: 10px 0 0 50px;
}

.input-basic-field-container {
    width: 700px;
    display: flex;
}

.input-basic-field {
    display: flex;
    align-content:space-between;
}

.input-labels {
    width: 60px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.enter-info-field {
    width: 350px;
    background-color: rgba(231, 231, 231, 0.992);
}

.input-placeholders {
    width: 350px;
    margin: 0 10px 0 10px;
}

.find-acc-btn {
    height: 40px;
    width: 50px;
    margin: 4px 0 0 0;
    cursor: pointer;
    border: inset rgb(187, 187, 187) .5px;
    border-radius: 5px;
}


.empty-cart {
    right: 1px;
    position: relative;
    /* border: inset rgb(0, 0, 0) 1px; */
    height: 300px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* top: 500px;
    position: relative; */
}

.acc-cart-container {
    height: 300px;
    width: 1100px;
    border-left: inset rgb(0, 0, 0) 1px;
    border-right: inset rgb(0, 0, 0) 1px;
    box-shadow: 5px 0 rgba(195, 195, 195, 0.779);
    display: flex;
    flex-direction: column;
}

.acc-cart-label {
    height: 80px;
    width: 1100px;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 0 10px 40px; 
}

.myacc-card {
    height: 170px;
    width: 130px;
    /* border: inset rgb(0, 0, 0) 1px; */
    margin: 0 10px 0 20px;
    transition: transform 800ms;
}

.myacc-img {
    height: 120px;
    width: 120px
}

.acc-toggle-container {
    height: 300px;
    width: 1100px;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.acc-cart-display-container {
    height: 170px;
    width: 600px;
    /* border: inset rgb(0, 0, 0) 1px; */
    overflow: hidden;
    display: flex;
}

.toggle-btns {
    height: 170px;
    width: 50px;
    cursor: pointer;
}

.purchase-history-container {
    border-radius: 0 0 30px 30px;
    border-left: inset rgb(0, 0, 0) 1px;
    border-right: inset rgb(0, 0, 0) 1px;
    border-bottom: inset rgb(0, 0, 0) 1px;
    box-shadow: 5px 5px rgba(195, 195, 195, 0.779);
    height: 600px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-list-container {
    /* border: inset rgb(0, 0, 0) 1px; */
    height: 300px;
    width: 700px;
    overflow-y: scroll;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    border-bottom: inset rgb(0, 0, 0) 1px;
}

.date-container {
    height: 35px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.purchased-order-container {
    display: flex;
    flex-direction: column;
    /* border: inset rgb(0, 0, 0) 1px; */
    align-items: end;
}

.produce-orders, .produce-discount-orders {
    display: flex;
}

.produce-orders {
    width: 100%;
    justify-content: space-between;
}

.produce-discount-orders {
    margin: -15px 10px 10px 0;
    width: 370px;
    /* border: inset rgb(0, 0, 0) 1px; */
    justify-content: space-between;
    align-content: center;
    color: red;
}

.purchased-name, .purchase-quantity, .purchased-total {
    width: 80px;
    height: 40px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.mycart-label {
    height: 10px;
    width: 1100px;
}

.purchase-label {
    height: 50px;
    width: 1100px;
    /* border: inset rgb(0, 0, 0) 1px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 40px 0 20px 100px;
}

.empty-purchase {
    /* border: inset rgb(0, 0, 0) 1px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



