.card {
    height: 400px;
    width: 250px;
    margin: 10px;
    /* border: inset rgb(c0, 0, 0) 1px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 160px;
    height: 150px; 
    /* border: inset rgb(0, 0, 0) 1px; */
    /* border-radius: 15px; */
}

.quantity-num-card {
    width: 40px;
    height: 25px;
    text-align: left;
}

.add-cart-btn {
    height: 35px;
    width: 90px;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    color: #fff;
    background-color: black;
    cursor: pointer;
}

.discount-container {
    display: flex;
    /* flex-direction: column;
    width: 100px;
    height: 30px; */
}

/* .discount-checkbox-card {
    height: 60px;
    border: inset rgb(0, 0, 0) 1px;
    margin: 10px
} */