.list {
    height: 500px;
    width: 1600px;
    margin: 30px 20px 20px 50px;
    border: inset rgb(0, 0, 0) 1px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.list img {
    width: 100px;
    height: 100px;
}

.cart-list {
    width: 80px;
    height: 60px;
}

.quantity-num-list {
    width: 40px;
    height: 30px;
}

