.produce {
    top: 100px;
    left: 3%;
    position: relative;
}

.search-container {
    min-width: 400px;
    height: 200px;
    border: inset gray 1px;
}

.searchbar {
    left: 10px;
    top: 70px;
    position: relative;
    margin: 20px 10px 10px 10px;
}

.search-btn {
    height: 34.8px;
    border-radius: 0 15px 15px 0;
}

.produce-container {
    top: 15px;
    left: 2%;
    position: relative;
    background: white;
    border: inset gray 1px;
    /* float: left;     */
    font-size: 14px;
    height: 1200px;
    margin: 5px;
    min-width: 400px;
    overflow: hidden;
    width: 90%;
}

input[placeholder='Type Here'] {
    width: 400px;
    height: 30px;
    margin: 0 0px 10px 800px;
    border-radius: 15px 0 0 15px;
}

.toggle {
    margin: 0 0 0 100px;
    height: 40px;
    width: 100px;
}

.cart-container {
    /* top: 50px;
    right: 1%;
    position: relative; */
    /* float: right; */
    /* margin: 10px; */
    width: 400px;
    height: 600px;
    border: inset gray 1px;
    overflow-x: scroll;
}



.shopper-container {
    height: 100%;
    width: 100%;
    border: inset gray 1px;
    display: flex;
}

.produce-items {
    /* top: 80px; */
    position: relative;
    height: 1000px;
    max-width: 1125px;
    border: inset gray 1px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.produce-column {
    position: relative;
    height: 1000px;
    width: 1125px;
    margin: 10px;
    position: relative;
    border: inset rgb(0, 0, 0) 1px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* justify-content: center; */
}